$color-main: #000;
$color-light: #fff;

// *::before,
// *::after {
//   box-sizing: border-box;
// }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.9;

}

header {
  background: url('https://images.pexels.com/photos/96381/pexels-photo-96381.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  margin: 20px 0;
}

.navbar-brand {
  color: #ffd700;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 40px;
}

.nav-link {
  text-transform: uppercase;
  color: $color-light;
}

.navbar-text .container {
  text-align: center;
  margin-top: 100px;
  color: $color-light;
}

.btn {
  background-color: #ffd700;
  margin: 40px 0 150px 0;
  padding: 15px 50px;
  color: $color-light;
  text-transform: uppercase;
}

.btn:hover {
  color: #1145f0;
}

.services .col-12 {
  text-align: center;
  height: 500px;
  background-color: #fff;
}

.footer .row {
  background-color: #fff;
}

.services-con {
  width: 100%;
  margin: 80px;
  text-align: center;
}

.fas {
  font-size: 50px;
  padding: 20px;
  margin-bottom: 20px;
  color: #ffd700;
  border: 3px solid #ffd700;
  border-radius: 50%;
}

.card-body {
  text-align: center;
}

/*Portfolio*/
.pictures {
  text-align: center;
  // margin: 60px;
}

.card-deck {
  margin: 30px auto;
}

.col-md-4 {
  text-align: center;
}

.fab {
  font-size: 16px;
  padding: 12px;
  margin-left: 10px;
  color: #FFF;
  border: 3px solid #000;
  background-color: #000;
  border-radius: 50%;
}